
<h1><a style="font-style:normal; text-decoration: none; color: #F7F5F1;" href="/" >Weather</a> > {{ title }} </h1>

<header>
<div>

    <a href="/" >HOME</a>
    <a href="/about">ABOUT</a>
    <a style="float: right" href=""><img class='git-image' src="/img/git.png"></a>    


</div>

</header>