<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/javascript.js"></script>
    <title>Weather | {{ title }} </title>
</head>

<body>

    {{>header}}
    <img class="not-found" src="img/404.gif">
    {{>footer}}
    
</body>

</html>