<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='icon' href="/img/icon.png">  
    <script src="/js/javascript.js"></script>
    <title>Weather | {{ title }} </title>
</head>

<body>
    <div class="body-data">
    {{>header}}
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore temporibus in fugiat obcaecati beatae commodi est, vitae ratione debitis reiciendis, porro harum. Soluta a perspiciatis molestiae tenetur alias quibusdam.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti delectus harum, alias nemo voluptas illo veniam ut sunt ab, et dicta, nisi laudantium obcaecati sit dolore a facere inventore praesentium!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quidem fugiat eveniet quia rem, aspernatur blanditiis sed ut eos? Fugiat ullam veritatis quas exercitationem ad consectetur aliquam doloribus blanditiis omnis!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis commodi asperiores harum dolorem! Qui maxime dolorem dolor. Praesentium optio eaque ipsa, iusto laborum accusantium eum, distinctio nihil, sequi quas ex?
        </p>
    
    </div>
    {{>footer}}
</body>

</html>